@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaina 2', cursive;
}

nav{
    background-color: black;
    color: wheat;
    height: 65px;
    align-items: center;
    display: flex;
}
nav ul{
    list-style: none;
    margin-left:10px ;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

#mainContiner{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
}

.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 10px 10px -5px rgb(0.5,  0.5, 0.5); */
}

.box:hover{
    background-color: rgb(255, 239, 209);
    cursor: pointer;
}

.boxText{
   font-size: 5em;
}

#info{
    margin-left: 2rem;
}
#info p,h3{
    font-size: 1.5rem;
}
.turn{
font-size: 1.7rem;
}

#Reset{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 12px;
    margin-left: 0.7rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: wheat;
    box-shadow: 7px 7px 0px -5px  rgb(0.5,  0.5, 0.5);
    cursor:pointer;
}
.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    transition: width 1s ease-out;
}

@media(max-width:400px){
    nav{
        width: 100vw;
    }
    #mainContiner{
        display:flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .container{
        margin: auto;
    }
    #info{
        margin-top: 2rem;
    }
    .boxText{
        font-size: 1.4rem;
     }
}
@media(min-width:450px)and(max-width:1120px){
    .boxText{
        font-size: 3em;
     }
}

.bt-0{
    border-top: none;
}
.bl-0{
    border-left: none;
}
.br-0{
    border-right: none;
}
.bb-0{
    border-bottom: none;
}

.imgs img{
    width: 0;
    transition: width 1s ease-out;
}