*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    color: wheat;
    height: 65px;
    align-items: center;
    display: flex;
}
nav ul{
    list-style: none;
    margin-left:10px ;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

#mainContiner{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    
}

.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 10px -5px rgb(0.5,  0.5, 0.5);
}
.box:hover{
    background-color: rgb(255, 239, 209);
    cursor: pointer;
}

.boxText{
   font-size: 3em;
}

#info{
    margin-left: 2rem;
}

@media(max-width:400px){
    nav{
        width: 100vw;
    }
    #mainContiner{
        display:flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .container{
        margin: auto;
    }
    #info{
        margin-top: 2rem;
    }
}

.bt-0{
    border-top: none;
}
.bl-0{
    border-left: none;
}
.br-0{
    border-right: none;
}
.bb-0{
    border-bottom: none;
}

.img{
    display: none;
}